@page
@model TimeZone_Converter_using_ASP.NETCore.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <h2>Time Converter</h2>
    <div class="row mt-3">
        <div class="col-md-7">
            <form method="post">
                <div class="mb-3">
                    <label for="sourceTime" class="form-label">Source Time:</label>
                    <input type="time" class="form-control" asp-for="TimeConverterModel.SourceDateTime" id="sourceTime" />
                </div>
                <div class="mb-3">
                    <label for="sourceTimeZone" class="form-label">Source Time Zone:</label>
                    <select class="form-select" asp-for="TimeConverterModel.SourceTimeZone" id="sourceTimeZone">
                        @foreach (var timeZone in Model.TimeZones)
                        {
                            <option value="@timeZone">@timeZone</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="targetTimeZone" class="form-label">Target Time Zone:</label>
                    <select class="form-select" asp-for="TimeConverterModel.TargetTimeZone" id="targetTimeZone">
                        @foreach (var timeZone in Model.TimeZones)
                        {
                            <option value="@timeZone">@timeZone</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Convert</button>
            </form>

            @if (Model.TimeConverterModel.TargetDateTime != DateTime.MinValue)
            {
                <div class="alert alert-info mt-3">
                    <strong>Converted Time:</strong> @Model.TimeConverterModel.TargetDateTime.ToShortTimeString()
                </div>
            }
        </div>
        <div class="col-md-3">
            <img src="~/images/time-zone (1).png" class="img-fluid" alt="Time Zones" style="margin-left:100px;">
        </div>
    </div>
</div>